.button {
  width: 120px;
  background-color: white;
  border: 2px solid #ffffff;
  padding: 10px;
  border-radius: 20px;
  margin-top: 100px;
  cursor: pointer;
}
.button:hover {
  background-color: transparent;
  border: 2px solid #ffffff;
  color: white;
}

.orange {
  color: var(--color-orange);
}

.blue {
  color: var(--color-blue);
}

.green {
  color: var(--color-green);
}
