.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
 overflow: hidden; 
 /* mascara de recorte */
}

@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
    gap: 0;
  }
}
